.black {
	background-color: black !important;
}
.maxw-300 {
	max-width: 300px !important;
}
.ht-100pc {
	height: 100%;
}
.m-25px {
	margin:25px !important;
}
.mlr-20 {
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
.mb-5 {
	margin-bottom: 5px !important;
}
.pt-5 {
	padding-top: 5px !important;
}
.plr-6 {
	padding: 5px 5px;
}
.p-7 {
	padding: 7px !important;
}
.pt-16 {
	padding-top: 16px !important;
}
.pb-16 {
	padding-bottom: 16px !important;
}
.ptb-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.pt-80 {
	padding-top: 80px !important;
}
.bb-gray-1 {
	border-bottom: 1px solid #ccc !important;
}
.bt-black-1 {
	border-top: 1px solid black !important;
}
.card {
	padding: 20px 30px;
	box-shadow: 0px 7px 33px 7px #ccc;
	background-color: #f5f5f5;
}
.center {
	display: flex;
	align-items: center;
}
.bkgd-pic {
	background-size: cover;
	background-position: center;
	border: 1px solid black;
	box-shadow: 0px 7px 25px 1px #ccc;
	background-color: #f5f5f5;
}
.menu-btn {
	cursor: pointer;
	box-shadow: none;
}
.menu-btn:hover {
	background: linear-gradient(rgba(255,0,0,.8), rgba(200,0,0, 0.5)) !important;
	color: white;
}
.nav-card {
	padding: 20px 30px;
	background-color: #f5f5f5;
	box-shadow: 0px 0px 12px 0px #ccc;
	border-radius: 0% !important;
	background-color: rgba(0,0,0,1);
    border-bottom: 2px inset rgba(200,0, 0, .9);
}
.nav-card h6 {
	font-size: 20px;
    font-weight: 600;
    color: white;
}
.left-side {
	font-size: 20px;
    font-weight: 600;
    color: white;
}
.left-nav {
	height:100vh; 
	margin-top: 79px; 
	z-index: 10000; 
	position:fixed; 
	width: 84px; 
    border-radius: 0% !important;
    background-color: rgba(0,0,0,1);
    border-right: 2px inset rgba(200,0, 0, .9);
}
.nav-link.active, .nav-link:hover {
    background-color: rgba(200,0, 0, .9) !important;
	color: white;
}
.nav-link {
	border-radius: 0px !important;
	background-color: black;
	color: white;
}

