<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<link rel="stylesheet" href="../css/main.css">
		<script src="../scripts/main.js"></script>
		<script src="../scripts/DataTables.js"></script>
		<link rel="stylesheet" href="../css/DataTables.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

		<?php 

			$url = $_SERVER['REQUEST_URI'];
			
			checkRoute($url);

			$parts = parse_url($url);
			$path = $parts['path'];
			$segments = explode('/', $path);
			
			if($segments[count($segments) - 1] != 'login'){
				// Reroute to login if user is not logged in
				if(!isset($_POST['user'])){
					//header('Location: ' . '/login');
				}
			}

			if( count($segments) > 1){
				echo "<link rel='stylesheet' href='../css/".$segments[count($segments) - 1].".css'>";
				echo "<script src='../scripts/".$segments[count($segments) - 1].".js'></script>";
			}

			function checkRoute($url){
				if(strpos($url,'views') == 1){
					header('Location: ' . '/404');
				}
				if(strpos($url, 'controllers') == 1){
					header('Location: ' . '/404');
				}
				if(strpos($url, 'css') == 1){
					header('Location: ' . '/404');
				}
				if(strpos($url, 'scripts') == 1){
					header('Location: ' . '/404');
				}
				if(strpos($url, 'assets') == 1){
					header('Location: ' . '/404');
				}
			}
		?>
	</head>
	<body>
			


